


@font-face {
    font-family: "Montserrat";
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --primaty-color: #8f0101;
    --secondary-color: #b81515;

    --backgound-primaty-color: #ffffff;
    --backgound-secondary-color: #f5f5f5;
    --backgound-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

/* RESET CSS */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}