.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 60px;
  margin: 0;
  font-weight: var(--text-weight);
  font: 32px;
}

@media screen and (min-width: 768px) {
    .hero-img {
  height: 620px;
  width: 100%;
  background: url("../img/hero-tablet.jpg") no-repeat;
  background-size: cover;
 }

 .hero h2 {
  padding: 88px 60px;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
 }

 @media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 120px;

  }
 }
}
  